<header class="app-container-xl" [ngClass]="{ 'home-view': !isViewing }">
  @if(isViewing) {
  <a class="logo" href="/">
    <mat-icon svgIcon="icon-logo"></mat-icon>
  </a>
  }

  <div class="navigation">
    <div class="navigation--links">
      @for(link of navLinks; track link.title) {
      <a class="nav-link" (click)="onNavLinkClick(link)">
        {{ link.title }}
      </a>
      }
    </div>
    <div class="navigation--action">
      <button (click)="openNavigation()">
        <mat-icon svgIcon="icon-navigation"></mat-icon>
      </button>
    </div>
  </div>
</header>
