header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    mat-icon {
      width: 197px;
      height: 42px;
    }
  }

  .navigation {
    display: flex;
    gap: 48px;

    &--links {
      padding: 8px 24px;
      border-radius: 50px;
      background: var(--default-white);
      display: flex;

      .nav-link {
        text-decoration: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--default-black);
        font-family: "Gilroy-Regular";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.42px;
      }
    }
    &--action {
      button {
        mat-icon {
          width: 55px;
height: 55px;
        }
      }
    }
  }
}

.home-view {
  justify-content: flex-end;
}
