<h1>СПІВПРАЦЯ</h1>

<div class="block-info">
	<div class="steps-titles">
		<div class="step no-active">
			<h3>КОНСУЛЬТАЦІЯ</h3>
		</div>

		<div class="step active">
			<h3>ПРОПОЗИЦІЯ</h3>
		</div>

		<div class="step no-active">
			<h3>ДОГОВІР</h3>
		</div>

		<div class="step active">
			<h3>ЗАПУСК</h3>
		</div>
	</div>

	<div class="steps-description">
		<div class="step">
			<p>
				15-хвилинний зум-брифінг з нашим стратегом , який оцінить існуючу ситуацію та проблемні зони
			</p>
		</div>
		<mat-icon svgIcon="icon-arrow-right"></mat-icon>

		<div class="step">
			<p>Ти отримаєш розгорнуту індивідуальну пропозицію по твоєму проекту</p>
		</div>

		<mat-icon svgIcon="icon-arrow-right"></mat-icon>

		<div class="step">
			<p>
				Після погодження пропозиції ми підписуємо договір про співпрацю та надсилаємо першийрахунок
			</p>
		</div>

		<mat-icon svgIcon="icon-arrow-right"></mat-icon>

		<div class="step">
			<p>
				Тут все тільки починається! Знайомство з менеджером твого проекту та майбутньою командою
			</p>
		</div>
	</div>

	<div class="actions">
		<button class="app-button consult" (click)="eventOpenDialog.emit()">Записатись на консультацію</button>
	</div>
</div>
