<section class="app-section hero">
	<app-header [isViewing]="false"></app-header>
</section>

<section class="section-container cases-info">
	<div class="app-container">
		<h2>Кейси</h2>

		<div class="cases-cards">
			<div class="card okko">

				<div class="info">
					<mat-icon svgIcon="icon-okko-title"></mat-icon>

					<p>
						Місце зустрічей рідних незнайомців
					</p>
				</div>

				<div class="labels">
					<div class="label">smm</div>
					<div class="label">зйомки</div>
					<div class="label">креатив</div>
				</div>
			</div>

			<div class="card recover">
				<div class="info">
					<mat-icon svgIcon="icon-recover-title"></mat-icon>

					<p>
						Відбудова країни, у якій хочеться жити
					</p>
				</div>

				<div class="labels">
					<div class="label">лого</div>
					<div class="label">фонд</div>
					<div class="label">брендинг</div>
				</div>

			</div>

			<div class="card cooming-soon">
				<div class="info">
					<p>
						Ми вже працюємо над створенням кейсів
					</p>
				</div>

				<div class="labels">
					<div class="label">ще</div>
					<div class="label">зовсім</div>
					<div class="label">трішки</div>
					<div class="label">правда</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section-container reels">
	<div class="app-container">
		<h2>Знімаємо</h2>
		<div class="carousel-container desktop-carousel">
			<div class="carousel" [ngStyle]="{ transform: 'rotateY(' + angle + 'deg)' }">
				<div class="carousel-item" *ngFor="let video of videos; let i = index" [class.active]="i === activeIndex"
					[ngStyle]="{ transform: 'rotateY(' + i * rotationStep + 'deg) translateZ(300px)' }">
					<video [src]="video.src" [autoplay]="i === activeIndex" [muted]="video.muted" loop
						(canplay)="onVideoLoad($event)" [class.playing]="i === activeIndex"></video>
					<button class="mute-button" (click)="toggleMute(i)">
						<mat-icon [svgIcon]="video.muted ? 'icon-sound-off': 'icon-sound-on'"></mat-icon>
					</button>
				</div>
			</div>
			<button class="carousel-control left" (click)="prev()">&#8592;</button>
			<button class="carousel-control right" (click)="next()">&#8594;</button>
		</div>
	</div>
</section>

<section class="section-container actions">
	<div class="app-container d-flex">
		<button class="app-button desktop" (click)="routeToMain()">
			ПОВЕРНУТИСЬ НА ГОЛОВНУ
			<mat-icon svgIcon="icon-arrow-circle"></mat-icon>
		</button>

		<button class="app-button mobile" (click)="routeToMain()">
			До головної сторінки
			<mat-icon svgIcon="icon-arrow-circle"></mat-icon>
		</button>
	</div>
</section>