<section class="app-section hero">
	<app-header [isViewing]="false"></app-header>
</section>

<section class="cases-info">
	<div class="app-container">
		<h2>Кейси</h2>

		<div class="cases-cards">
			<div class="card okko">

				<div class="info">
					<mat-icon svgIcon="icon-okko-title"></mat-icon>

					<p>
						Місце зустрічей рідних незнайомців
					</p>
				</div>

				<div class="labels">
					<div class="label">smm</div>
					<div class="label">зйомки</div>
					<div class="label">креатив</div>
				</div>
			</div>

			<div class="card recover">
				<div class="info">
					<mat-icon svgIcon="icon-recover-title"></mat-icon>

					<p>
						Відбудова країни, у якій хочеться жити
					</p>
				</div>

				<div class="labels">
					<div class="label">лого</div>
					<div class="label">фонд</div>
					<div class="label">брендинг</div>
				</div>

			</div>

			<div class="card cooming-soon">
				<div class="info">
					<p>
						Ми вже працюємо над створенням кейсів
					</p>
				</div>

				<div class="labels">
					<div class="label">ще</div>
					<div class="label">зовсім</div>
					<div class="label">трішки</div>
					<div class="label">правда</div>
				</div>
			</div>
		</div>
	</div>
</section>