<h1>
	Ми — креативна агенція <br />
	з України, <br />
	<span> СТВОРЮЄМО 🔗 МІЖ КОМПАНІЯМИ І ЛЮДЬМИ </span> <br class="mobile" />
	з 2018 року
</h1>
<p>
	Ми творці за своїм архетипом і призначенням. Глобально — продумуємо та реалізовуємо маркетингові,
	комунікаційні та SMM-стратегії. Якщо трішки глибше — поєднуємо систему фактів зі
	свіжими гіпотезами та ідеями.
</p>
<p>
	Звучить складно, але найкраще описує найбільш розмите слово у світі —
	<span>креатив</span>.
</p>

<p class="mb-0">
	Ми обрали для себе бутикову стратегію розвитку, тому не цілимось у ширину. Ми хочемо досліджувати
	глибину. Тому вибір кандидата чи замовника — завжди проходить через запитання:
</p>

<p class="info-end">Чи готові ви пірнути у дослідження так глибоко, наскільки це можливо?</p>
