<h2>ПОСЛУГИ</h2>

<div class="cards">
	<div class="list-sm-cards">

		@for (service of cards; track service.id) {
		<div class="sm-card" [ngClass]="{
				'smm-main': service.type === types.SMM_SUPROVID,
				'communication': service.type === types.COMUNIKATSIYNA_STRATEGIYA,
				'smm-strategy': service.type === types.SMM_STRATEGIYA,
				'branding': service.type === types.BRENDING,
				'production': service.type === types.PRODUCTION,
				'smm-guide': service.type === types.SMM_GUIDE,
				'promotion': service.type === types.PROMOTION,
				'smm-campaighn': service.type === types.CAMPAIGN,
				'web-design': service.type === types.WEB_DESIGN
			}" (click)="openServiceDialog(service.type)">

			<div class="actions">
				<button (click)="openServiceDialog(service.type); $event.stopPropagation()">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>{{ service.id < 10 ? '0' + service.id : service.id }}.</h3>
					<h4>{{ service.name }}</h4>

					<div class="description">
						<p *ngFor="let desc of service.description">{{ desc }}</p>
					</div>
		</div>
		}
	</div>
</div>

<div class="mobile-cards">
	<div class="card smm-main" (click)="openServiceDialog(types.SMM_SUPROVID)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>01. SMM</h3>
		<div class="description">Щомісячний супровід сторінок бренду</div>
	</div>

	<div class="card communication" (click)="openServiceDialog(types.COMUNIKATSIYNA_STRATEGIYA)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>02. КОМУНІКАЦІЙНА СТРАТЕГІЯ</h3>
		<div class="description">Стратегія внутрішньої та зовнішньої комунікації бренду</div>
	</div>

	<div class="card smm-strategy" (click)="openServiceDialog(types.SMM_STRATEGIYA)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>03. SMM СТРАТЕГІЯ</h3>
		<div class="description">Стратегія розвитку бренду в соціальних мережах</div>
	</div>

	<div class="card branding" (click)="openServiceDialog(types.BRENDING)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>04. БРЕНДИНГ</h3>
		<div class="description">Неймінг <br> Логобук <br> Брендбук</div>
	</div>

	<div class="card production" (click)="openServiceDialog(types.PRODUCTION)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>05. ПРОДАКШН</h3>
		<div class="description">Фотозйомка <br> Відеозйомка</div>
	</div>

	<div class="card promotion" (click)="openServiceDialog(types.PROMOTION)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>06. ПРОМОУШН</h3>
		<div class="description">Співпраця з медіа <br> Співпраця з інфлуенсерами <br> Колаборації <br> Спец-проекти</div>
	</div>

	<div class="card web-design" (click)="openServiceDialog(types.WEB_DESIGN)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>07. ВЕБДИЗАЙН</h3>
		<div class="description">UI/UX дизайн веб сайтів <br> Веб-розробка сайтів</div>
	</div>
</div>

<div class="service-action">
	<button class="app-button desktop" (click)="openDialog()">
		<mat-icon svgIcon="icon-button-plus"></mat-icon>
		отримати прорахунок
	</button>

	<button class="app-button mobile" (click)="routeToForm()">
		<mat-icon svgIcon="icon-button-plus"></mat-icon>
		отримати прорахунок
	</button>
</div>