<h2>ПОСЛУГИ</h2>

<div class="cards">
	<div class="big-card" (click)="openServiceDialog(types.SMM_SUPROVID)">
		<div class="big-card--title">
			<div class="actions">
				<button (click)="openServiceDialog(types.SMM_SUPROVID)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>

			<h3>01. SMM</h3>
		</div>
		<div class="big-card--description">Щомісячний супровід сторінок бренду</div>
	</div>
	<div class="list-sm-cards">
		<!-- Communication strategy -->
		<div class="sm-card communication" (click)="openServiceDialog(types.COMUNIKATSIYNA_STRATEGIYA)">
			<div class="actions">
				<button (click)="openServiceDialog(types.COMUNIKATSIYNA_STRATEGIYA)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>02.</h3>
			<h4>КОМУНІКАЦІЙНА СТРАТЕГІЯ</h4>

			<div class="description">
				<p>Стратегія внутрішньої</p>
				<p>та зовнішньої комунікації бренду</p>
			</div>
		</div>
		<!-- SMM-strategy -->
		<div class="sm-card smm-strategy" (click)="openServiceDialog(types.SMM_STRATEGIYA)">
			<div class="actions">
				<button (click)="openServiceDialog(types.SMM_STRATEGIYA)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>03.</h3>
			<h4>SMM</h4>
			<h4>СТРАТЕГІЯ</h4>
			<div class="description">
				<p>Стратегія розвитку бренду</p>
				<p>в соціальних мережах</p>
			</div>
		</div>
		<!-- Branding -->
		<div class="sm-card branding" (click)="openServiceDialog(types.BRENDING)">
			<div class="actions">
				<button (click)="openServiceDialog(types.BRENDING)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>04.</h3>
			<h4>БРЕНДИНГ</h4>

			<div class="description">
				<p>Неймінг</p>
				<p>Логобук</p>
				<p>Брендбук</p>
			</div>
		</div>
		<!-- Production -->
		<div class="sm-card production" (click)="openServiceDialog(types.PRODUCTION)">
			<div class="actions">
				<button (click)="openServiceDialog(types.PRODUCTION)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>05.</h3>
			<h4>ПРОДАКШН</h4>

			<div class="description">
				<p>Фотозйомка</p>
				<p>Відеозйомка</p>
			</div>
		</div>
		<!-- Promotion -->
		<div class="sm-card promotion" (click)="openServiceDialog(types.PROMOTION)">
			<div class="actions">
				<button (click)="openServiceDialog(types.PROMOTION)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>06.</h3>
			<h4>ПРОМОУШН</h4>
			<div class="description">
				<p>Співпраця з медіа</p>

				<p>Співпраця з інфлуенсерами</p>

				<p>Колаборації</p>

				<p>Спец-проекти</p>
			</div>
		</div>
		<!-- Web Design -->
		<div class="sm-card web-design" (click)="openServiceDialog(types.WEB_DESIGN)">
			<div class="actions">
				<button (click)="openServiceDialog(types.WEB_DESIGN)">
					<mat-icon svgIcon="icon-plus"></mat-icon>
				</button>
			</div>
			<h3>07.</h3>
			<h4>ВЕБДИЗАЙН</h4>

			<div class="description">
				<p>UI/UX дизайн веб сайтів</p>

				<p>Веб-розробка сайтів</p>
			</div>
		</div>
	</div>
</div>

<div class="mobile-cards">
	<div class="card smm-main" (click)="openServiceDialog(types.SMM_SUPROVID)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>01. SMM</h3>
		<div class="description">Щомісячний супровід сторінок бренду</div>
	</div>

	<div class="card communication" (click)="openServiceDialog(types.COMUNIKATSIYNA_STRATEGIYA)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>02. КОМУНІКАЦІЙНА СТРАТЕГІЯ</h3>
		<div class="description">Стратегія внутрішньої та зовнішньої комунікації бренду</div>
	</div>

	<div class="card smm-strategy" (click)="openServiceDialog(types.SMM_STRATEGIYA)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>03. SMM СТРАТЕГІЯ</h3>
		<div class="description">Стратегія розвитку бренду в соціальних мережах</div>
	</div>

	<div class="card branding" (click)="openServiceDialog(types.BRENDING)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>04. БРЕНДИНГ</h3>
		<div class="description">Неймінг <br> Логобук <br> Брендбук</div>
	</div>

	<div class="card production" (click)="openServiceDialog(types.PRODUCTION)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>05. ПРОДАКШН</h3>
		<div class="description">Фотозйомка <br> Відеозйомка</div>
	</div>

	<div class="card promotion" (click)="openServiceDialog(types.PROMOTION)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>06. ПРОМОУШН</h3>
		<div class="description">Співпраця з медіа <br> Співпраця з інфлуенсерами <br> Колаборації <br> Спец-проекти</div>
	</div>

	<div class="card web-design" (click)="openServiceDialog(types.WEB_DESIGN)">
		<div class="actions">
			<button>
				<mat-icon svgIcon="icon-plus"></mat-icon>
			</button>
		</div>
		<h3>07. ВЕБДИЗАЙН</h3>
		<div class="description">UI/UX дизайн веб сайтів <br> Веб-розробка сайтів</div>
	</div>
</div>

<div class="service-action">
	<button class="app-button desktop" (click)="openDialog()">
		<mat-icon svgIcon="icon-button-plus"></mat-icon>
		отримати прорахунок
	</button>

	<button class="app-button mobile" (click)="routeToForm()">
		<mat-icon svgIcon="icon-button-plus"></mat-icon>
		отримати прорахунок
	</button>
</div>
