@import "breakpoints";

.hero {
  background: url(/assets/images/hero-bg.webp) lightgray 50% / cover no-repeat;
}

.info {
  margin: 80px auto;

  h1 {
    color: var(--default-black);
    font-family: "Gilroy-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 42px;

    span {
      color: var(--primary-100);
    }
  }

  p {
    color: var(--default-black);
    font-family: "Gilroy-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 27px;

    span {
      font-family: "Gilroy-Bold";
      font-weight: 900;
    }
  }

  .info-end {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.6px;
    font-family: "Gilroy-Black";
  }
}

.services {
  h2 {
    color: var(--default-black);
    font-family: "Gilroy-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 42px;
  }

  .cards {
    display: flex;
    gap: 24px;
    flex-direction: column;

    .big-card {
      border-radius: 50px;
      padding: 48px 24px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: var(--smm-main);
      justify-content: space-between;

      &--title {
        width: 100%;
        display: flex;
        flex-direction: column;

        .actions {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 4px;
          button {
            mat-icon {
              width: 45px;
              height: 45px;
            }
          }
        }

        h3 {
          color: var(--default-black);
          font-family: "Gilroy-Bold";
          font-size: 45px;
          font-weight: 700;
          line-height: 32px;
          margin-bottom: 14px;
        }

        h4 {
          color: var(--default-black);
          font-family: "Gilroy-Bold";
          font-size: 52px;
          font-weight: 700;
          line-height: 32px;
        }
      }

      &--description {
        color: var(--default-black);
        font-family: "Gilroy-Regular";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
      }
    }

    .list-sm-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px;

      .sm-card {
        padding: 48px 24px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;

        .actions {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 4px;

          button {
            transition: 0.5s ease-in-out;
            mat-icon {
              width: 45px;
              height: 45px;
              transition: 0.5s ease-in-out;
            }

            &:hover {
              mat-icon {
                rotate: 3.1416rad;
              }
            }
          }
        }

        h3 {
          color: var(--default-black);
          font-family: "Gilroy-Bold";
          font-size: 40px;
          font-weight: 700;
          line-height: 32px;
          margin-bottom: 14px;
        }

        h4 {
          color: var(--default-black);
          font-family: "Gilroy-Bold";
          font-size: 30px;
          font-weight: 700;
          line-height: 100%;
        }

        .description {
          height: 72px;
          margin-top: 10px;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;

          p {
            color: var(--default-black);
            font-family: "Gilroy-Regular";
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.6px;
          }
        }
      }

      .communication {
        background-color: var(--smm-comunicacation);
      }

      .smm-strategy {
        background-color: var(--smm-strategy);
      }

      .branding {
        background-color: var(--smm-branding);

        .description {
          margin-top: 16px;
          height: 96px;
        }
      }

      .production {
        background-color: var(--smm-production);

        .description {
          height: 96px;
          margin-top: 16px;
        }
      }

      .promotion {
        background-color: var(--smm-promoution);

        .description {
          height: 96px;
          margin-top: 16px;
        }
      }

      .web-design {
        background-color: var(--smm-webdesign);
        .description {
          height: 96px;
          margin-top: 16px;
        }
      }
    }
  }

  .service-action {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .app-button {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 24px 32px;
      transition: 0.5s ease-in-out;
      position: relative;
      transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;

      &:hover {
        padding: 24px 38px;
        transition: 0.5s ease-in-out;
      }

      mat-icon {
        width: 14px;
        height: 14px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 4em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 8px 16px var(--default-black);
      }

      &:active {
        top: 1px;
      }

      &:active::after {
        box-shadow: 0 0 0 0 var(--default-black);
        position: absolute;
        border-radius: 4em;
        left: 0;
        top: 0;
        opacity: 1;
        transition: 0s;
      }
    }
  }
}

.clients {
  margin: 80px auto;

  h2 {
    color: var(--default-black);
    font-family: "Gilroy-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 42px;
  }
}

.cases {
  h2 {
    color: var(--default-black);
    font-family: "Gilroy-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 42px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .card {
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      padding: 24px;

      mat-icon {
        width: 48px;
        height: 48px;
        margin-top: 41px;
      }

      .logo-recover {
        width: 100%;
        height: 36px;
      }

      .logo-rikota {
        width: 159px;
        height: 55px;
      }

      .logo-okko {
        width: 176.001px;
        height: 41.406px;
      }

      p {
        margin-top: 33px;
        color: var(--default-black);
        font-family: "Gilroy-Bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.72px;
      }
      .rikota {
        margin-top: 16px;
      }

      .short-infos {
        margin-top: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .block {
          padding: 4px 16px;
          border-radius: 50px;
          background: var(--smm-comunicacation);
          margin-right: 15px;
          color: var(--default-black);
          text-align: center;
          font-family: "Gilroy-Regular";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.6px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .purple {
      background: var(--smm-webdesign);
    }

    .light {
      background: var(--smm-comunicacation);

      .short-infos {
        flex-wrap: wrap;
        .block {
          background: var(--smm-webdesign);
          margin-right: 8px;

          &:first-child {
            margin-bottom: 8px;
            margin-right: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__action {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 32px;
    justify-content: center;

    .app-button {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s ease-in-out;
      position: relative;
      transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;

      &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 4em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 8px 16px var(--default-black);
      }

      &:active {
        top: 1px;
      }

      &:active::after {
        box-shadow: 0 0 0 0 var(--default-black);
        position: absolute;
        border-radius: 4em;
        left: 0;
        top: 0;
        opacity: 1;
        transition: 0s;
      }

      &:hover {
        padding: 24px 38px;
        transition: 0.5s ease-in-out;

        mat-icon {
          rotate: 1.5599rad;
        }
      }

      mat-icon {
        margin-left: 16px;
        width: 24px;
      }
    }
  }
}

.cooperation {
  margin: 80px auto;

  h1 {
    color: var(--default-black);
    font-family: "Gilroy-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 42px;
  }

  .block-info {
    padding-bottom: 57.5px;
    display: flex;
    flex-direction: column;

    .steps-titles {
      display: flex;
      gap: 37px;
      margin-bottom: 11.5px;

      .step {
        width: calc(100% / 4 + 9.25px);
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        h3 {
          color: var(--default-black);
          font-family: "Unbounded-Bold";
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.72px;
        }
      }

      .no-active {
        background-image: url(/assets/images/step-no-active.svg);
      }

      .active {
        background-image: url(/assets/images/step-active.svg);
      }
    }

    .steps-description {
      display: flex;
      justify-content: space-evenly;

      .step {
        max-width: 200px;
        width: 100%;

        &:first-child {
          margin-left: 25px;
        }

        p {
          font-family: "Gilroy-Regular";
          color: var(--default-black);
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.48px;
        }
      }

      mat-icon {
        width: 24px;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
