<p>home-page works!</p>

<div class="block__text about-text">
  <h3>About GG Fund</h3>
  <h6>Our Mission</h6>

  <p class="mb-24">
    GG Fund simplifies investing in top gaming tokens by offering a single GG token that represents a diversified
    portfolio. Our mission is to make gaming token investments accessible and efficient for everyone.
  </p>

  <h6>What We Offer</h6>

  <p>
    Experience a user-friendly platform inspired by nostalgic arcade games, providing exposure to a curated index of
    gaming tokens. Invest smarter and enjoy the benefits of diversification with GG Fund.
  </p>
</div>
