@import "breakpoints";

.hero {
	background: url(/assets/images/hero-bg.webp) lightgray 50% / cover no-repeat;

	// submarine-angular/src/assets/images/hero-mob-bg.webp

	@include screen("tablet-portrait") {
		background: url(/assets/images/hero-mob-bg.webp) lightgray 50% / cover no-repeat;
	}

	@include screen("phone") {
		padding-bottom: 32px;
	}

	.actions {
		.app-button {
			@include screen("phone") {
				padding: 8px 16px;
				font-size: 10px;
				font-weight: 700;
				line-height: 12px;
				letter-spacing: 0.3px;
				text-transform: uppercase;
			}
		}
	}
}

.info {
	margin: 80px auto;

	@include screen("phone") {
		margin: 40px auto;
	}
}

.clients {
	margin: 80px auto 0;

	h2 {
		color: var(--default-black);
		font-family: "Gilroy-Bold";
		font-size: 50px;
		font-weight: 700;
		line-height: 70px;

		@include screen("phone") {
			font-size: 36px;
			line-height: 42px;
		}
	}
}

.list-items {
	margin-top: 0;
	margin-bottom: 30px;
	width: 100%;
}

.cooperation {
	margin: 80px auto;

	@include screen("phone") {
		margin: 40px auto;
	}

	.desktop {
		display: block;
		@include screen("tablet-portrait") {
			display: none;
		}
	}

	.mobile {
		display: none;

		@include screen("tablet-portrait") {
			display: block;
		}
	}
}
