<h2>КЕЙСИ</h2>

<div class="cases-cards">
  <div class="card purple">
    <!-- <mat-icon svgIcon="icon-recover"></mat-icon> -->

    <!-- <mat-icon class="logo-recover" svgIcon="icon-recover-logo"></mat-icon> -->

    <div class="time-title">
      <h4>Скоро буде</h4>
    </div>

    <!-- <p>

      Відбудова країни, <br />
      у якій хочеться жити
    </p> -->

    <div class="short-infos">
      <div class="block">ще</div>
      <div class="block">зовсім</div>
      <div class="block">трошки</div>
      <div class="block">правда</div>
    </div>
  </div>

  <div class="card light">
    <!-- <mat-icon svgIcon="icon-rikota"></mat-icon>

    <mat-icon class="logo-rikota" svgIcon="icon-rikota-logo"></mat-icon> -->
    <div class="time-title">
      <h4>Ми вже працюємо над створенням кейсів</h4>
    </div>

    <!-- <p class="rikota">
      Безкомпромісна турбота <br />
      про вашу усмішку
    </p> -->

    <div class="short-infos">
      <div class="block">ще</div>
      <div class="block">зовсім</div>
      <div class="block">трошки</div>
      <div class="block">правда</div>
    </div>
  </div>
  <div class="card purple">
    <!-- <mat-icon svgIcon="icon-okko"></mat-icon>

    <mat-icon class="logo-okko" svgIcon="icon-okko-logo"></mat-icon> -->

    <!-- <p>
      Місце зустрічей <br />
      рідних незнайомців
    </p> -->
    <div class="time-title">
      <h4>А поки що можна погортати головну сторінку</h4>
    </div>

    <div class="short-infos">
      <div class="block">ще</div>
      <div class="block">зовсім</div>
      <div class="block">трошки</div>
      <div class="block">правда</div>
    </div>
  </div>
</div>

<!-- <div class="cases-action">
  <button class="app-button">
    Переглянути всі кейси
    <mat-icon svgIcon="icon-circle-arrow"></mat-icon>
  </button>
</div> -->
