<div class="app-container block">
	@if (allIdsAreBranding()) {
	<div class="branding">
		@for (item of dataItems; track item.id) {
		<div class="branding__item">
			<div class="branding__item-inner">
				<div class="branding__item-front">
					<div class="for_label">
						<div class="label">
							{{ item.small_title }}
						</div>
						<div class="label">{{ item.days }} днів</div>
					</div>
					<div class="for_image">
						<img [src]="item.image_desktop" alt="" />
					</div>
					<div class="roles">
						@for (role of item.roles; track role) {
						<div class="label">{{ role }}</div>
						}
					</div>
				</div>

				<div class="branding__item-back">
					<h3>{{ item.title }}</h3>
					<div class="list">
						@for (list of item.properties; track list) {
						<div class="item">
							<mat-icon svgIcon="icon-p"></mat-icon>
							<p>{{ list }}</p>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
		}
	</div>
	} @else {
	<div class="block-info">
		<div class="image-block">
			@if (dataItem.small_title) {
			<div class="date jcsb">
				<div class="label">
					{{ dataItem.small_title }}
				</div>

				<div class="label">{{ dataItem.days }} днів</div>
			</div>
			} @else {
			<div class="date">
				<div class="label">{{ dataItem.days }} днів</div>
			</div>
			}

			<div class="image">
				<img [src]="dataItem.image_desktop" alt="" />
			</div>
			<div class="roles">
				@for (role of dataItem.roles; track role) {
				<div class="label">
					{{ role }}
				</div>
				}
			</div>
		</div>

		<div class="text-block">
			<h3>{{ dataItem.title }}</h3>

			@if (dataItem.id === types.COMUNIKATSIYNA_STRATEGIYA) {
			<mat-accordion>
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<h5>{{ dataItem.sub_title_1 }}</h5>
					</mat-expansion-panel-header>
					<div class="list">
						@for (item of dataItem.properties; track item) {
						<div class="item">
							<mat-icon svgIcon="icon-p"></mat-icon>
							<p>{{ item }}</p>
						</div>
						}
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<h5>{{ dataItem.sub_title_2 }}</h5>
					</mat-expansion-panel-header>
					<div class="list">
						@for (item of dataItem.properties_2; track item) {
						<div class="item">
							<mat-icon svgIcon="icon-p"></mat-icon>
							<p>{{ item }}</p>
						</div>
						}
						<div class="small-list">
							@for (item of dataItem.sub_properties; track item) {
							<div class="item">- {{ item }}</div>
							}
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
			} @else {
			<div class="list">
				@for (item of dataItem.properties; track item) {
				<div class="item">
					<mat-icon svgIcon="icon-p"></mat-icon>
					<p>{{ item }}</p>
				</div>
				}
			</div>

			@if (dataItem.id === types.PROMOTION) {
			<h3 class="mt-16">{{ dataItem.title_2 }}</h3>

			<div class="list">
				@for (item of dataItem.properties_2; track item) {
				<div class="item">
					<mat-icon svgIcon="icon-p"></mat-icon>
					<p>{{ item }}</p>
				</div>
				}
			</div>
			}
			}
		</div>
	</div>
	}

	<div class="block-actions">
		<button class="app-button">
			<mat-icon svgIcon="icon-button-plus"></mat-icon>
			отримати прорахунок
		</button>
	</div>
</div>
