@import "breakpoints";

h1 {
	color: var(--default-black);
	font-family: "Gilroy-Bold";
	font-size: 50px;
	font-weight: 700;
	line-height: 70px;
	margin-bottom: 42px;


	@include screen("phone") {
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 28px;
	}
}

.block-info {
	display: flex;
	flex-direction: column;
	width: 100%;

	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 24px;


		.title {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			padding: 24px 0;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			h3 {
				color: var(--default-black);
				font-family: "Unbounded-Bold";
				font-size: 32px;
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 0.72px;

				@include screen("phone") {
					font-size: 24px;
					line-height: 28px;
				}
			}
		}

		.active {
			background-image: url(/assets/images/step-mob-active.svg);
		}

		.no-active {
			background-image: url(/assets/images/step-mob-no-active.svg);
		}

		.description {
			font-family: "Gilroy-Regular";
			color: var(--default-black);
			font-size: 15px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0.48px;
			text-align: center;
			max-width: 670px;
			width: 100%;
			margin: 0 auto;
		}
	}
}

.actions {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 40px;

	.consult {
		display: block;
		max-width: 340px;
		padding: 10px 20px;
	}
}