<h1>СПІВПРАЦЯ</h1>

<div class="block-info">
	<div class="item">
		<div class="title active">
			<h3>КОНСУЛЬТАЦІЯ</h3>
		</div>
		<div class="description">
			15-хвилинний зум-брифінг <br />
			з нашим стратегом , який оцінить існуючу <br />
			ситуацію та проблемні зони
		</div>
		<mat-icon svgIcon="icon-arrow-down"></mat-icon>
	</div>

	<div class="item">
		<div class="title no-active">
			<h3>ПРОПОЗИЦІЯ</h3>
		</div>
		<div class="description">
			Ти отримаєш розгорнуту <br />
			індивідуальну пропозицію <br />
			по твоєму проекту
		</div>
		<mat-icon svgIcon="icon-arrow-down"></mat-icon>
	</div>

	<div class="item">
		<div class="title active">
			<h3>ДОГОВІР</h3>
		</div>
		<div class="description">
			Після погодження пропозиції <br />
			ми підписуємо договір про співпрацю <br />
			та надсилаємо першийрахунок
		</div>
		<mat-icon svgIcon="icon-arrow-down"></mat-icon>
	</div>

	<div class="item">
		<div class="title no-active">
			<h3>ЗАПУСК</h3>
		</div>
		<div class="description">
			Тут все тільки починається! <br />
			Знайомство з менеджером твого проекту <br />
			та майбутньою командою
		</div>
	</div>
</div>
