<section class="app-section hero">
  <app-header [isViewing]="false"></app-header>

  <div class="actions">
    <button class="app-button">
      <mat-icon svgIcon="icon-button-plus"></mat-icon>
      Стати частиною команди
    </button>
  </div>
</section>

<section class="app-section team">
  <div class="app-container">
    <h1>КОМАНДА</h1>

    <div class="team__list">
      @for (team of teams; track team.name) {
        <div class="team--item">
          <img [src]="team.image" alt="" class="main-image" />
          <div
            class="cover"
            [ngStyle]="{ 'background-image': 'url(' + team.cover_image + ')' }"></div>
        </div>
      }
    </div>
  </div>
</section>
