.carousel-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 52px;

  button {
    mat-icon {
      width: 50px;
      height: 50px;
    }
  }
}

.carousel-items {
  display: flex;
  overflow: hidden;
  height: 60px;
  gap: 52px;
  align-items: center;
}

.carousel-item {
  flex: 0 0 auto;
}

.carousel-item img {
  height: 100%;
}
