.carousel-container {
  width: 100%;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

::ng-deep .owl-theme .owl-nav [class*="owl-"] {
  padding: 8px 16px;
  background: #c0b7ee;

  img {
    width: 20px;
    height: 20px;
  }
}
