.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff; // Or any background color you prefer
	z-index: 1000;
}

.loader-image {
	width: 100px; // Adjust the size as needed
	height: 100px;
	animation: spin 2s linear infinite;
}

.loader-video {
  width: 550px; /* Adjust the size of the video */
  height: auto; /* Maintain the aspect ratio */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
