<footer>
  <div class="app-container footer">
    <div class="block-info">
      <h2>БУДУЄМО БРЕНД-КОМУНІКАЦІЮ У СОЦІАЛЬНИХ МЕРЕЖАХ</h2>

      <button class="app-button">
        <mat-icon svgIcon="icon-sm-plus"></mat-icon>
        СТАТИ КЛІЄНТОМ
      </button>

      <p>Не любиш заповнювати форми? Пишіть нам на мейл:</p>

      <a href="mailto: project@submarineagency.com.ua">
        project&#64;submarineagency.com.ua
      </a>

      <p class="rigths">© Submarine Creative 2023. All rights reserved</p>
    </div>
    <div class="block-follow">
      <div class="social">
        <h4>
          Фолов нас:
        </h4>
        <a href="">

        </a>
      </div>
    </div>
  </div>
</footer>
