<footer>
	<div class="app-container footer">
		<div class="block-info" lazyLoad>
			<h2>БУДУЄМО БРЕНД-КОМУНІКАЦІЮ У СОЦІАЛЬНИХ МЕРЕЖАХ</h2>

			<button class="app-button" (click)="openDialog()">
				<mat-icon svgIcon="icon-sm-plus"></mat-icon>
				отримати прорахунок
			</button>

			<p>Не любите заповнювати форми?</p>

			<p class="mail-info">
				Пишіть нам на мейл:
				<a href="mailto: project@submarineagency.com.ua"> project&#64;submarineagency.com.ua </a>
			</p>

			<p class="rigths">© Submarine Creative 2023. All rights reserved</p>
		</div>
		<div class="block-follow" lazyLoad>
			<div class="social">
				<h4>Фолов нас:</h4>
				@for (item of footerLinks; track item.label) {
					<a href="{{ item.route }}" target="_blank">
						{{ item.label }}

						<mat-icon svgIcon="icon-arrow-footer"></mat-icon>
					</a>
				}
			</div>

			<div class="social contacts">
				<h4>Контакти:</h4>

				<p>79007 Україна м.Львів, <br> вул. Шопена, 10/2</p>

				<a href="tel:+380672604811">+380672604811</a>
			</div>

			<div class="mobile">
				<div class="icons">
					@for (item of footerLinks; track item.label) {
						<a href="{{ item.route }}" target="_blank">
							<mat-icon svgIcon="{{ item.icon }}"></mat-icon>
						</a>
					}
				</div>

				<div class="action">
					<button (click)="scrollToTop()">
						Повернутись догори <mat-icon svgIcon="icon-up"></mat-icon>
					</button>
				</div>

				<div class="rights">
					© Submarine Creative 2023. All rights reserved
				</div>
			</div>
		</div>
	</div>
</footer>
