<div class="navigation-overlay">
  <div class="navigation-overlay--info">
    <a href="">
      <mat-icon svgIcon="icon-logo"></mat-icon>
    </a>

    <div class="follow-us">
      <h4>Фоловте нас:</h4>

      @for(item of footerLinks; track item.label) {
      <a href="{{ item.route }}" target="_blank">
        {{ item.label }}

        <mat-icon svgIcon="icon-arrow-footer"></mat-icon>
      </a>
      }
    </div>
  </div>
  <div class="navigation-overlay--content">
    <div class="navigation-action">
      <button (click)="closeNavigation()">
        <mat-icon svgIcon="icon-navigation"></mat-icon>
      </button>
    </div>
  </div>
</div>
