.navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;

  &--info {
    height: 100%;
    width: 30%;
    background: var(--default-black);
    animation: slideDown 0.5s ease-in-out forwards;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    a {
      mat-icon {
        width: 197px;
        height: 42px;
      }
    }

    .follow-us {
      display: flex;
      flex-direction: column;

      h4 {
        color: var(--default-white);
        font-family: "Unbounded-Bold";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.6px;
        margin-bottom: 24px;
      }

      a {
        color: var(--default-white);
        text-decoration: none;
        font-family: "Gilroy-Regular";
        font-size: 20px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        max-width: 162px;
        width: 100%;
        line-height: 24px;
        letter-spacing: 0.6px;
        margin-bottom: 8px;

        transition: transform 0.4s linear;

        mat-icon {
          margin-left: 16px;
          width: 16px;
          height: 16px;
          transition: transform 0.4s linear;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          mat-icon {
            transition: transform 0.4s linear;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &--content {
    height: 100%;
    width: 70%;
    background: var(--default-white);
    animation: slideUp 0.5s ease-in-out forwards;
    padding: 32px;
    display: flex;
    flex-direction: column;

    .navigation-action {
      display: flex;
      justify-content: flex-end;
      button {
        mat-icon {
          width: 55px;
          height: 55px;
        }
      }
    }
  }

  &.animate-slide-up {
    animation: slideUp 0.5s ease-in-out forwards !important;
  }

  &.animate-slide-down {
    animation: slideDown 0.5s ease-in-out forwards !important;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100vw;
  min-width: var(--mat-dialog-container-min-width, 0);
}
