.dialog-content {
  // width: 901px;
  height: 901px;
  border-radius: 50px 0px 0px 50px;
  padding: 48px 64px 36px 64px;

  h2 {
    color: var(--default-black);
    font-family: "Gilroy-SemiBold";
    font-size: 48px;
    font-weight: 600;
    line-height: 94.447%;
    margin-bottom: 16px;
  }
  p {
    color: var(--default-black);
    font-size: 20px;
    font-family: "Gilroy-Regular";
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 24px;
  }

  form {
    .main-infos {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 24px;
      margin-bottom: 32px;

      .form-field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        label {
          color: var(--default-black);

          font-family: "Gilroy-Regular";
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.6px;
        }

        .error-label {
          color: var(--error);
        }

        input {
          border: none;
          width: 100%;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--default-black);

          &::placeholder {
            color: var(--default-black);

            font-family: "Gilroy-Regular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.48px;
            opacity: 0.5;
          }
        }
      }
    }

    h3 {
      color: var(--default-black);
      font-family: "Gilroy-SemiBold";
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 16px;
      line-height: 94.447%;
    }

    p {
      color: var(--default-black);
      font-family: "Gilroy-Regular";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 24px;
    }

    .services-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      button {
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding: 8px 16px;

        border-radius: 50px;
        background: var(--default-white);
        box-shadow: 2px 2px 5px 0px #000;

        color: var(--default-black);
        font-family: "Gilroy-Regular";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;

        &.selected {
          background: var(--default-black);
          color: var(--default-white);
        }
      }
    }

    .for_description {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    textarea {
      padding: 24px;
      max-width: 644px;
      border: none;
      width: 100%;
      border-radius: 50px;
      background: var(--default-white);
      box-shadow: 2px 2px 5px 0px #000;
      font-family: "Unbounded-Light";
      font-size: 16px;
      font-weight: 300;
      color: var(--default-black);
      line-height: 16px;
      letter-spacing: 0.48px;
      resize: none;

      &::placeholder {
        color: var(--default-black);
        opacity: 0.5;
        font-family: "Unbounded-Light";
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0.48px;
      }
    }

    .form-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 32px;
        border-radius: 50px;
        background: var(--default-black);
        font-family: "Unbounded-Regular";
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: var(--default-white);

        mat-icon {
          width: 14px;
          height: 14px;
          margin-right: 10px;
        }
      }
    }
  }
}

.dialog-response {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: var(--default-black);
    font-family: "Gilroy-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.447%;
    margin-bottom: 16px;
  }

  p {
    color: var(--default-black);
    font-family: "Unbounded-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
  }

  .actions {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 24px;
      border-radius: 50px;
      background: var(--default-black);

      color: var(--default-white);

      font-family: "Unbounded-Regular";
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }
  }
}
