:root {
  --default-white: #ffffff;
  --black-100: #222121;
  --primary-100: #c0b7ee;

  --smm-main: #d1c1cd;
  --smm-comunicacation: #e9fd88;
  --smm-strategy: #aa879f;
  --smm-branding: #fef9f6;
  --smm-production: #d4d8ff;
  --smm-promoution: #9a9fbe;
  --smm-webdesign: #c0b7ee;
}
