@font-face {
  font-family: "Gilroy-Regular";
  src: url("./../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("./../fonts/Gilroy-Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Unbounded-Medium";
  src: url(./../fonts/Unbounded-Medium.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Unbounded-Bold";
  src: url(./../fonts/Unbounded-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Unbounded-Light";
  src: url(./../fonts/Unbounded-Light.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Unbounded-Regular";
  src: url(./../fonts/Unbounded-Regular.ttf) format("truetype");
  font-style: normal;
}
