@import "breakpoints";
@import "fonts";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  height: 100%;
}

a,
button {
  background: none;
  border: none;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;

  &:not(:disabled, .disabled) {
    cursor: pointer;
  }
}

button::-moz-focus-inner {
  border: 0;
}

a:active,
a:hover,
button:active,
button:hover {
  outline-width: 0;
}

img {
  display: block;
  margin: 0;
  border: 0;
}

.app-section {
  width: 100%;
}

.app-container {
  max-width: calc(1128px + 30px * 2);
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;

  @include screen("phone") {
    padding: 0 16px;
  }
}

.app-container-xl {
  max-width: calc(1440px + 30px * 2);
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;

  @include screen("phone") {
    padding: 0 16px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.app-button {
  border-radius: 50px;
  background: var(--default-black);

  color: var(--default-white);
  font-family: "Unbounded-Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
